<div class="wrapper" *ngIf="superhero">

    <h2>{{superhero.heroName | uppercase}}</h2>

    <div class="row">
        <div class="half-col">
            <div class="item-container">
                <label>Real Name: </label>
                <span>{{superhero.realName}}</span>
                <!-- col-sm-10 -->
            </div>
        </div>

        <div class="half-col">
            <div class="item-container">
                <label>Hero Name: </label>
                <span>{{superhero.heroName}}</span>
                <!-- col-sm-10 -->
            </div>
        </div>

        <div class="half-col">
            <div class="item-container">
                <label>Publisher: </label>
                <span>{{superhero.publisher}}</span>
                <!-- col-sm-10 -->
            </div>
        </div>

        <div class="half-col">
            <div class="item-container">
                <label>First Appearance: </label>
                <span>{{superhero.firstAppearance}}</span>
                <!-- col-sm-10 -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="half-col">
            <h3 class="mgbt-xs-15 font-semibold">ABILITIES</h3>
            <div class="content-list content-menu">
                <ul class="list-wrapper">
                    <li *ngFor="let ability of superhero.abilities">
                        <span>{{ability.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="half-col">
            <h3 class="mgbt-xs-15 font-semibold">AFFILIATIONS</h3>
            <div class="content-list content-menu">
                <ul class="list-wrapper">
                    <li *ngFor="let affiliation of superhero.affiliations">
                        <span>{{affiliation.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
