<div class="wrapper" *ngIf="superhero">

    <div class="title-header">
        <h2>{{superhero.heroName | uppercase}}</h2>
        <button *ngIf="disable" (click)="toggleDisable()">Edit</button>
        <button *ngIf="!disable" (click)="saveSuperhero()">Save</button>
    </div>

    <div class="form-wrapper">
        <form [formGroup]="superheroData">
            <div class="row">
                <div class="half-col">
                    <div class="item-container">
                        <label>Real Name: </label>
                        <input type="text" formControlName="realName">
                    </div>
                </div>
        
                <div class="half-col">
                    <div class="item-container">
                        <label>Hero Name: </label>
                        <input type="text" formControlName="heroName">
                    </div>
                </div>
        
                <div class="half-col">
                    <div class="item-container">
                        <label>Publisher: </label>
                        <input type="text" formControlName="publisher">
                    </div>
                </div>
        
                <div class="half-col">
                    <div class="item-container">
                        <label>First Appearance: </label>
                        <input type="text" formControlName="firstAppearance">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="half-col">
            <h3 class="mgbt-xs-15 font-semibold">ABILITIES</h3>
            <div class="content-list content-menu">
                <ul class="list-wrapper">
                    <li *ngFor="let ability of superhero.abilities">
                        <span>{{ability.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="half-col">
            <h3 class="mgbt-xs-15 font-semibold">AFFILIATIONS</h3>
            <div class="content-list content-menu">
                <ul class="list-wrapper">
                    <li *ngFor="let affiliation of superhero.affiliations">
                        <span>{{affiliation.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>